<a href="https://colab.research.google.com/github/HelenaHime/PADSW06MDCD/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

df_orders = pd.read_csv('olist_orders_dataset.csv') #faz a leitura de uma planilha, dado o seu caminho
display(df_orders) #exibe os resultados da planilha

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
23615,66039d5c09809a835bd5e6e34619efc7,2ea99a95ebf94238ec56b30d6d2fa636,delivered,2018-06-03 14:06:01,2018-06-03 14:15:23,2018-06-04 13:35:00,2018-06-08 22:14:21,2018-07-05 00:00:00
23616,20d82c386747fe65c4190d75f15c9a6d,15b9711d8c8b0dd668b1399ffef68ec4,delivered,2018-03-28 18:02:49,2018-03-28 18:10:22,2018-04-05 19:19:11,2018-04-07 17:45:24,2018-04-11 00:00:00
23617,e359056f7d7b5f57f57e4d8f61b5659d,73f0a3cab227be05527630b0172f3a27,delivered,2017-09-16 14:55:03,2017-09-16 15:06:00,2017-09-20 20:50:09,2017-10-14 14:00:08,2017-10-04 00:00:00
23618,3ce0da4f1162078580b54661a488d80b,24d9d65af8e197f76dbcd99e99953862,delivered,2018-01-08 14:36:39,2018-01-08 15:31:51,2018-01-09 20:19:22,2018-01-15 16:25:08,2018-02-14 00:00:00
23619,23fb5e6768dd0cf8df7aaa74d80f8ec6,b54c3706d7d7a59b0f0754,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
import pandas as pd

df_orders = pd.read_csv('https://raw.githubusercontent.com/HelenaHime/PADSW06MDCD/main/olist_orders_dataset.csv') #faz a leitura de uma planilha, dado o seu caminho
display(df_orders) #exibe os resultados da planilha

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [2]:
from zipfile import ZipFile

In [3]:
#preciso especificar qual zip queremos ler
#content antes de archive é o caminho para a base
with ZipFile("/content/archive.zip") as myzip:
  print(myzip)

<zipfile.ZipFile filename='/content/archive.zip' mode='r'>

In [7]:
df_orders.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

In [8]:
#mostra a contagem de elementos, quantos elementos únicos
df_orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,23620,23620,23619,23619,23577,23215,22928,23619
unique,23620,23620,7,23586,22974,21746,22863,430
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-11-24 12:12:36,2018-02-27 04:31:10,2018-05-10 18:29:00,2017-12-02 00:26:45,2018-05-29 00:00:00
freq,1,1,22928,2,5,11,3,150

In [10]:


df_orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

Acima, ele lê como object provavelmente porque há dado faltante, então ele lê como object.

In [12]:
#para saber o numero de na
df_orders.isna().sum()

order_id                           0
customer_id                        0
order_status                       1
order_purchase_timestamp           1
order_approved_at                 43
order_delivered_carrier_date     405
order_delivered_customer_date    692
order_estimated_delivery_date      1
dtype: int64

In [29]:
#para saber o total de obs de order_delivered_customer_date
df_orders.shape[0]

#coloco zero para pegar o número de linhas, ele devolve uma tupla (linhas, colunas)

df_orders.shape

(99441, 8)

In [15]:
df_orders.order_status.value_counts()

delivered      22928
shipped          268
canceled         148
unavailable      140
invoiced          66
processing        66
created            3
Name: order_status, dtype: int64

In [19]:
mask = df_orders.order_delivered_customer_date.isna()

In [21]:
df2 = df_orders[mask]

In [22]:
df2.order_status.value_counts()

shipped        268
canceled       146
unavailable    140
invoiced        66
processing      66
created          3
delivered        2
Name: order_status, dtype: int64

In [23]:
df_orders = df_orders.dropna()

In [25]:
df_orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [26]:
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders.order_purchase_timestamp)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.